









body {

    width: 90%;
margin-left: auto;
margin-right: auto;
background-color: #D1E8E2;

}




header {

    text-align: center;
    background-color: darkgray;
}




nav {

    background-color: #19747E;
    
}



main {
    background-color: #A9D6E5;
}



aside {
    background-color: #E2E2E2;
}



section {
    
}



article {
    
}



footer {
    
}



