








body {

    width: 90%;
margin-left: auto;
margin-right: auto;
background-color: #D1E8E2;

}




header {

    text-align: center;
    background-color: darkgray;
    border-radius: 15px 40px;
}




nav {

    background-color: #A9D6E5;

    width: 100%;
   
    text-align: center;
    border-radius: 25px;
    

    padding-top: 10px;
    line-height: 1.8;
}


aside {
    background-color: #E2E2E2;
}



section {
    background-color: #19747E;
    width: 60%;
    text-align: left;
    padding-right: 20px;
    padding-left: 10px;
    line-height: 1.4;
}



article {
    
}



footer {
    
}



