@charset "UTF-8";
*,
::after,
::before {
 box-sizing: border-box;
}
body {
 margin: 0;
 background-image: url(images/business.jpg);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 100% 100%;
}
hr {
 margin: 1rem 0;
 color: inherit;
 border: 0;
 border-top: 1px solid;
 opacity: 0.25;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h2,
h3,
h4,
h5,
h6 {
 margin-top: 0;
 margin-bottom: 0.5rem;
 font-family: Catamaran, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";
 font-weight: 800;
 line-height: 1.2;
}
ul {
 padding-left: 2rem;
}
ul {
 margin-top: 0;
 margin-bottom: 1rem;
}
ul ul {
 margin-bottom: 0;
}
a {
 color: var(--bs-link-color);
 text-decoration: underline;
}
a:hover {
 color: var(--bs-link-hover-color);
}
a:not([href]):not([class]),
a:not([href]):not([class]):hover {
 color: inherit;
 text-decoration: none;
}
img {
 vertical-align: middle;
}
label {
 display: inline-block;
}
button {
 border-radius: 0;
}
button:focus:not(:focus-visible) {
 outline: 0;
}
button {
 margin: 0;
 font-family: inherit;
 font-size: inherit;
 line-height: inherit;
}
button {
 text-transform: none;
}
[role="button"] {
 cursor: pointer;
}
[list]:not([type="date"]):not([type="datetime-local"]):not([type="month"]):not(
  [type="week"]
 ):not([type="time"])::-webkit-calendar-picker-indicator {
 display: none !important;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
 -webkit-appearance: button;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
 cursor: pointer;
}
::-moz-focus-inner {
 padding: 0;
 border-style: none;
}
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-year-field {
 padding: 0;
}
::-webkit-inner-spin-button {
 height: auto;
}
[type="search"] {
 outline-offset: -2px;
 -webkit-appearance: textfield;
}
::-webkit-search-decoration {
 -webkit-appearance: none;
}
::-webkit-color-swatch-wrapper {
 padding: 0;
}
::file-selector-button {
 font: inherit;
 -webkit-appearance: button;
}
[hidden] {
 display: none !important;
}
.display-1 {
 font-size: calc(1.625rem + 4.5vw);
 font-weight: 300;
 line-height: 1.2;
}
@media (min-width: 1200px) {
 .display-1 {
  font-size: 5rem;
 }
}
.display-2 {
 font-size: calc(1.575rem + 3.9vw);
 font-weight: 300;
 line-height: 1.2;
}
@media (min-width: 1200px) {
 .display-2 {
  font-size: 4.5rem;
 }
}
.display-3 {
 font-size: calc(1.525rem + 3.3vw);
 font-weight: 300;
 line-height: 1.2;
}
@media (min-width: 1200px) {
 .display-3 {
  font-size: 4rem;
 }
}
.display-4 {
 font-size: calc(1.475rem + 2.7vw);
 font-weight: 300;
 line-height: 1.2;
}
@media (min-width: 1200px) {
 .display-4 {
  font-size: 3.5rem;
 }
}
.display-5 {
 font-size: calc(1.425rem + 2.1vw);
 font-weight: 300;
 line-height: 1.2;
}
@media (min-width: 1200px) {
 .display-5 {
  font-size: 3rem;
 }
}
.display-6 {
 font-size: calc(1.375rem + 1.5vw);
 font-weight: 300;
 line-height: 1.2;
}
@media (min-width: 1200px) {
 .display-6 {
  font-size: 2.5rem;
 }
}
.img-thumbnail {
 padding: 0.25rem;
 background-color: #fff;
 border: 1px solid var(--bs-border-color);
 border-radius: 0.375rem;
 max-width: 100%;
 height: auto;
}
.container,
.container-lg,
.container-md,
.container-sm {
 --bs-gutter-x: 1.5rem;
 --bs-gutter-y: 0;
 width: 100%;
 padding-right: calc(var(--bs-gutter-x) * 0.5);
 padding-left: calc(var(--bs-gutter-x) * 0.5);
 margin-right: auto;
 margin-left: auto;
}
@media (min-width: 576px) {
 .container,
 .container-sm {
  max-width: 540px;
 }
}
@media (min-width: 768px) {
 .container,
 .container-md,
 .container-sm {
  max-width: 720px;
 }
}
@media (min-width: 992px) {
 .container,
 .container-lg,
 .container-md,
 .container-sm {
  max-width: 960px;
 }
}
@media (min-width: 1200px) {
 .container,
 .container-lg,
 .container-md,
 .container-sm {
  max-width: 1140px;
 }
}
@media (min-width: 1400px) {
 .container,
 .container-lg,
 .container-md,
 .container-sm {
  max-width: 1320px;
 }
}
.btn {
 --bs-btn-padding-x: 0.75rem;
 --bs-btn-padding-y: 0.375rem;
 --bs-btn-font-size: 1rem;
 --bs-btn-font-weight: 400;
 --bs-btn-line-height: 1.5;
 --bs-btn-color: #212529;
 --bs-btn-bg: transparent;
 --bs-btn-border-width: 1px;
 --bs-btn-border-color: transparent;
 --bs-btn-border-radius: 0.375rem;
 --bs-btn-hover-border-color: transparent;
 --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
  0 1px 1px rgba(0, 0, 0, 0.075);
 --bs-btn-disabled-opacity: 0.65;
 --bs-btn-focus-box-shadow: 0 0 0 0.25rem
  rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
 display: inline-block;
 padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
 font-family: var(--bs-btn-font-family);
 font-size: var(--bs-btn-font-size);
 font-weight: var(--bs-btn-font-weight);
 line-height: var(--bs-btn-line-height);
 color: var(--bs-btn-color);
 text-align: center;
 text-decoration: none;
 vertical-align: middle;
 cursor: pointer;
 -webkit-user-select: none;
 -moz-user-select: none;
 user-select: none;
 border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
 border-radius: var(--bs-btn-border-radius);
 background-color: var(--bs-btn-bg);
 transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
 .btn {
  transition: none;
 }
}
.btn:hover {
 color: var(--bs-btn-hover-color);
 background-color: var(--bs-btn-hover-bg);
 border-color: var(--bs-btn-hover-border-color);
}
.btn:focus-visible {
 color: var(--bs-btn-hover-color);
 background-color: var(--bs-btn-hover-bg);
 border-color: var(--bs-btn-hover-border-color);
 outline: 0;
 box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn.active,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
 color: var(--bs-btn-active-color);
 background-color: var(--bs-btn-active-bg);
 border-color: var(--bs-btn-active-border-color);
}
.btn.active:focus-visible,
.btn:first-child:active:focus-visible,
:not(.btn-check) + .btn:active:focus-visible {
 box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn:disabled {
 color: var(--bs-btn-disabled-color);
 pointer-events: none;
 background-color: var(--bs-btn-disabled-bg);
 border-color: var(--bs-btn-disabled-border-color);
 opacity: var(--bs-btn-disabled-opacity);
}
.btn-secondary {
 --bs-btn-color: #000;
 --bs-btn-bg: #ff6a00;
 --bs-btn-border-color: #ff6a00;
 --bs-btn-hover-color: #000;
 --bs-btn-hover-bg: #ff8026;
 --bs-btn-hover-border-color: #ff791a;
 --bs-btn-focus-shadow-rgb: 217, 90, 0;
 --bs-btn-active-color: #000;
 --bs-btn-active-bg: #ff8833;
 --bs-btn-active-border-color: #ff791a;
 --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
 --bs-btn-disabled-color: #000;
 --bs-btn-disabled-bg: #ff6a00;
 --bs-btn-disabled-border-color: #ff6a00;
}
.btn-dark {
 --bs-btn-color: #fff;
 --bs-btn-bg: #212529;
 --bs-btn-border-color: #212529;
 --bs-btn-hover-color: #fff;
 --bs-btn-hover-bg: #424649;
 --bs-btn-hover-border-color: #373b3e;
 --bs-btn-focus-shadow-rgb: 66, 70, 73;
 --bs-btn-active-color: #fff;
 --bs-btn-active-bg: #4d5154;
 --bs-btn-active-border-color: #373b3e;
 --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
 --bs-btn-disabled-color: #fff;
 --bs-btn-disabled-bg: #212529;
 --bs-btn-disabled-border-color: #212529;
}
.btn-outline-secondary {
 --bs-btn-color: #000000;
 --bs-btn-border-color: #000000;
 --bs-btn-hover-color: #ffffff;
 --bs-btn-hover-bg: #000000;
 --bs-btn-hover-border-color: #000000;
 --bs-btn-focus-shadow-rgb: 255, 106, 0;
 --bs-btn-active-color: #000;
 --bs-btn-active-bg: #000000;
 --bs-btn-active-border-color: #000000;
 --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
 --bs-btn-disabled-color: #000000;
 --bs-btn-disabled-bg: transparent;
 --bs-btn-disabled-border-color: #000000;
 --bs-gradient: none;
}
#about-nappi {
 position: relative;
 left: 650px;
}
#loop-nappi {
 position: relative;
 left: 650px;
 bottom: -270px;
}
.btn-outline-dark {
 --bs-btn-color: #212529;
 --bs-btn-border-color: #212529;
 --bs-btn-hover-color: #fff;
 --bs-btn-hover-bg: #212529;
 --bs-btn-hover-border-color: #212529;
 --bs-btn-focus-shadow-rgb: 33, 37, 41;
 --bs-btn-active-color: #fff;
 --bs-btn-active-bg: #212529;
 --bs-btn-active-border-color: #212529;
 --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
 --bs-btn-disabled-color: #212529;
 --bs-btn-disabled-bg: transparent;
 --bs-btn-disabled-border-color: #212529;
 --bs-gradient: none;
}
.btn-link {
 --bs-btn-font-weight: 400;
 --bs-btn-color: var(--bs-link-color);
 --bs-btn-bg: transparent;
 --bs-btn-border-color: transparent;
 --bs-btn-hover-color: var(--bs-link-hover-color);
 --bs-btn-hover-border-color: transparent;
 --bs-btn-active-color: var(--bs-link-hover-color);
 --bs-btn-active-border-color: transparent;
 --bs-btn-disabled-color: #6c757d;
 --bs-btn-disabled-border-color: transparent;
 --bs-btn-box-shadow: none;
 --bs-btn-focus-shadow-rgb: 241, 46, 141;
 text-decoration: underline;
}
.btn-link:focus-visible {
 color: var(--bs-btn-color);
}
.btn-link:hover {
 color: var(--bs-btn-hover-color);
}
.btn-lg {
 --bs-btn-padding-y: 0.5rem;
 --bs-btn-padding-x: 1rem;
 --bs-btn-font-size: 1.25rem;
 --bs-btn-border-radius: 0.5rem;
}
.btn-sm {
 --bs-btn-padding-y: 0.25rem;
 --bs-btn-padding-x: 0.5rem;
 --bs-btn-font-size: 0.875rem;
 --bs-btn-border-radius: 0.25rem;
}
.collapse:not(.show) {
 display: none;
}
.nav {
 --bs-nav-link-padding-x: 1rem;
 --bs-nav-link-padding-y: 0.5rem;
 --bs-nav-link-color: var(--bs-link-color);
 --bs-nav-link-hover-color: var(--bs-link-hover-color);
 --bs-nav-link-disabled-color: #6c757d;
 display: flex;
 flex-wrap: wrap;
 padding-left: 0;
 margin-bottom: 0;
 list-style: none;
}
.nav-link {
 display: block;
 padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
 font-size: var(--bs-nav-link-font-size);
 font-weight: var(--bs-nav-link-font-weight);
 color: #000;
 text-decoration: none;
 transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
 .nav-link {
  transition: none;
 }
}
.nav-link:focus,
.nav-link:hover {
 color: var(--bs-nav-link-hover-color);
}
.navbar {
 --bs-navbar-padding-x: 0;
 --bs-navbar-padding-y: 0.5rem;
 --bs-navbar-color: rgba(0, 0, 0, 0.55);
 --bs-navbar-hover-color: rgba(0, 0, 0, 0.7);
 --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
 --bs-navbar-active-color: rgba(0, 0, 0, 0.9);
 --bs-navbar-brand-padding-y: 0.3125rem;
 --bs-navbar-brand-margin-end: 1rem;
 --bs-navbar-brand-font-size: 1.25rem;
 --bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
 --bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
 --bs-navbar-nav-link-padding-x: 0.5rem;
 --bs-navbar-toggler-padding-y: 0.25rem;
 --bs-navbar-toggler-padding-x: 0.75rem;
 --bs-navbar-toggler-font-size: 1.25rem;
 --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
 --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.1);
 --bs-navbar-toggler-border-radius: 0.375rem;
 --bs-navbar-toggler-focus-width: 0.25rem;
 --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
 position: relative;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-between;
 padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}
.navbar > .container,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm {
 display: flex;
 flex-wrap: inherit;
 align-items: center;
 justify-content: space-between;
}
.navbar-brand {
 padding-top: var(--bs-navbar-brand-padding-y);
 padding-bottom: var(--bs-navbar-brand-padding-y);
 margin-right: var(--bs-navbar-brand-margin-end);
 font-size: var(--bs-navbar-brand-font-size);
 color: var(--bs-navbar-brand-color);
 text-decoration: none;
 white-space: nowrap;
 font-family: Sedan;
}
.navbar-brand:focus,
.navbar-brand:hover {
 color: var(--bs-navbar-brand-hover-color);
}
.navbar-nav {
 --bs-nav-link-padding-x: 0;
 --bs-nav-link-padding-y: 0.5rem;
 --bs-nav-link-color: var(--bs-navbar-color);
 --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
 --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
 display: flex;
 flex-direction: column;
 padding-left: 0;
 margin-bottom: 0;
 list-style: none;
}
.navbar-nav .nav-link.active {
 color: var(--bs-navbar-active-color);
}
.navbar-text {
 padding-top: 0.5rem;
 padding-bottom: 0.5rem;
 color: var(--bs-navbar-color);
}
.navbar-text a,
.navbar-text a:focus,
.navbar-text a:hover {
 color: var(--bs-navbar-active-color);
}
.navbar-collapse {
 flex-basis: 100%;
 flex-grow: 1;
 align-items: center;
}
.navbar-toggler {
 padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
 font-size: var(--bs-navbar-toggler-font-size);
 line-height: 1;
 color: var(--bs-navbar-color);
 background-color: transparent;
 border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
 border-radius: var(--bs-navbar-toggler-border-radius);
 transition: var(--bs-navbar-toggler-transition);
}
@media (prefers-reduced-motion: reduce) {
 .navbar-toggler {
  transition: none;
 }
}
.navbar-toggler:hover {
 text-decoration: none;
}
.navbar-toggler:focus {
 text-decoration: none;
 outline: 0;
 box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width);
}
.navbar-toggler-icon {
 display: inline-block;
 width: 1.5em;
 height: 1.5em;
 vertical-align: middle;
 background-image: var(--bs-navbar-toggler-icon-bg);
 background-repeat: no-repeat;
 background-position: center;
 background-size: 100%;
}
.navbar-nav-scroll {
 max-height: var(--bs-scroll-height, 75vh);
 overflow-y: auto;
}
@media (min-width: 576px) {
 .navbar-expand-sm {
  flex-wrap: nowrap;
  justify-content: flex-start;
 }
 .navbar-expand-sm .navbar-nav {
  flex-direction: row;
 }
 .navbar-expand-sm .navbar-nav .nav-link {
  padding-right: var(--bs-navbar-nav-link-padding-x);
  padding-left: var(--bs-navbar-nav-link-padding-x);
 }
 .navbar-expand-sm .navbar-nav-scroll {
  overflow: visible;
 }
 .navbar-expand-sm .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
 }
 .navbar-expand-sm .navbar-toggler {
  display: none;
 }
}
@media (min-width: 768px) {
 .navbar-expand-md {
  flex-wrap: nowrap;
  justify-content: flex-start;
 }
 .navbar-expand-md .navbar-nav {
  flex-direction: row;
 }
 .navbar-expand-md .navbar-nav .nav-link {
  padding-right: var(--bs-navbar-nav-link-padding-x);
  padding-left: var(--bs-navbar-nav-link-padding-x);
 }
 .navbar-expand-md .navbar-nav-scroll {
  overflow: visible;
 }
 .navbar-expand-md .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
 }
 .navbar-expand-md .navbar-toggler {
  display: none;
 }
}
@media (min-width: 992px) {
 .navbar-expand-lg {
  flex-wrap: nowrap;
  justify-content: flex-start;
 }
 .navbar-expand-lg .navbar-nav {
  flex-direction: row;
 }
 .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: var(--bs-navbar-nav-link-padding-x);
  padding-left: var(--bs-navbar-nav-link-padding-x);
 }
 .navbar-expand-lg .navbar-nav-scroll {
  overflow: visible;
 }
 .navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
 }
 .navbar-expand-lg .navbar-toggler {
  display: none;
 }
}
.navbar-expand {
 flex-wrap: nowrap;
 justify-content: flex-start;
}
.navbar-expand .navbar-nav {
 flex-direction: row;
}
.navbar-expand .navbar-nav .nav-link {
 padding-right: var(--bs-navbar-nav-link-padding-x);
 padding-left: var(--bs-navbar-nav-link-padding-x);
}
.navbar-expand .navbar-nav-scroll {
 overflow: visible;
}
.navbar-expand .navbar-collapse {
 display: flex !important;
 flex-basis: auto;
}
.navbar-expand .navbar-toggler {
 display: none;
}
.navbar-dark {
 --bs-navbar-color: rgba(255, 255, 255, 0.55);
 --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
 --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
 --bs-navbar-active-color: #fff;
 --bs-navbar-brand-color: #fff;
 --bs-navbar-brand-hover-color: #fff;
 --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
 --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.page-link {
 position: relative;
 display: block;
 padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
 font-size: var(--bs-pagination-font-size);
 color: var(--bs-pagination-color);
 text-decoration: none;
 background-color: var(--bs-pagination-bg);
 border: var(--bs-pagination-border-width) solid
  var(--bs-pagination-border-color);
 transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
 .page-link {
  transition: none;
 }
}
.page-link:hover {
 z-index: 2;
 color: var(--bs-pagination-hover-color);
 background-color: var(--bs-pagination-hover-bg);
 border-color: var(--bs-pagination-hover-border-color);
}
.page-link:focus {
 z-index: 3;
 color: var(--bs-pagination-focus-color);
 background-color: var(--bs-pagination-focus-bg);
 outline: 0;
 box-shadow: var(--bs-pagination-focus-box-shadow);
}
.active > .page-link,
.page-link.active {
 z-index: 3;
 color: var(--bs-pagination-active-color);
 background-color: var(--bs-pagination-active-bg);
 border-color: var(--bs-pagination-active-border-color);
}
.page-item:not(:first-child) .page-link {
 margin-left: -1px;
}
.page-item:first-child .page-link {
 border-top-left-radius: var(--bs-pagination-border-radius);
 border-bottom-left-radius: var(--bs-pagination-border-radius);
}
.page-item:last-child .page-link {
 border-top-right-radius: var(--bs-pagination-border-radius);
 border-bottom-right-radius: var(--bs-pagination-border-radius);
}
@keyframes progress-bar-stripes {
 0% {
  background-position-x: 1rem;
 }
}
.carousel {
 position: relative;
}
.carousel-inner {
 position: relative;
 width: 100%;
 overflow: hidden;
}
.carousel-inner::after {
 display: block;
 clear: both;
 content: "";
}
.carousel-item {
 position: relative;
 display: none;
 float: left;
 width: 100%;
 margin-right: -100%;
 -webkit-backface-visibility: hidden;
 backface-visibility: hidden;
 transition: transform 0.6s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
 .carousel-item {
  transition: none;
 }
}
.carousel-item.active {
 display: block;
}
@keyframes spinner-border {
 to {
  transform: rotate(360deg);
 }
}
@keyframes spinner-grow {
 0% {
  transform: scale(0);
 }
 50% {
  opacity: 1;
  transform: none;
 }
}
@keyframes placeholder-glow {
 50% {
  opacity: 0.2;
 }
}
@keyframes placeholder-wave {
 100% {
  -webkit-mask-position: -200% 0;
  mask-position: -200% 0;
 }
}
.text-bg-secondary {
 color: #000 !important;
 background-color: RGBA(255, 106, 0, var(--bs-bg-opacity, 1)) !important;
}
.text-bg-dark {
 color: #fff !important;
 background-color: RGBA(33, 37, 41, var(--bs-bg-opacity, 1)) !important;
}
.link-secondary {
 color: #ff6a00 !important;
}
.link-secondary:focus,
.link-secondary:hover {
 color: #f83 !important;
}
.link-dark {
 color: #212529 !important;
}
.link-dark:focus,
.link-dark:hover {
 color: #1a1e21 !important;
}
.bg-secondary {
 --bs-bg-opacity: 1;
 background-color: rgba(
  var(--bs-secondary-rgb),
  var(--bs-bg-opacity)
 ) !important;
}
.bg-dark {
 --bs-bg-opacity: 1;
 background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}
.bg-black {
 --bs-bg-opacity: 1;
 background-color: rgba(var(--bs-black-rgb), var(--bs-bg-opacity)) !important;
}
.bg-body {
 --bs-bg-opacity: 1;
 background-color: rgba(var(--bs-body-bg-rgb), var(--bs-bg-opacity)) !important;
}
.bg-transparent {
 --bs-bg-opacity: 1;
 background-color: transparent !important;
}
html {
 scroll-padding-top: 67px;
}
.navbar-custom {
 padding-top: 1rem;
 padding-bottom: 1rem;
}
.navbar-custom .navbar-brand {
 text-transform: uppercase;
 font-size: 1rem;
 letter-spacing: 0.1rem;
 font-weight: 800;
 color: #000;
 font-family: monospace;
}
.navbar-custom .navbar-nav .nav-item .nav-link {
 text-transform: uppercase;
 font-size: 0.8rem;
 font-weight: 700;
 letter-spacing: 0.1rem;
}
header.masthead {
 position: relative;
 overflow: hidden;
 padding-top: calc(7rem + 72px);
 padding-bottom: 7rem;
 background-repeat: no-repeat;
 background-position: center center;
 background-attachment: scroll;
 background-size: cover;
}
header.masthead .masthead-content {
 z-index: 1;
 position: relative;
}
header.masthead .masthead-content .masthead-heading {
 font-size: 4rem;
}
header.masthead .masthead-content .masthead-subheading {
 font-size: 2rem;
}
header.masthead .bg-circle {
 z-index: 0;
 position: absolute;
 border-radius: 100%;
}
header.masthead .bg-circle-1 {
 height: 90rem;
 width: 90rem;
 bottom: -55rem;
 left: -55rem;
}
header.masthead .bg-circle-2 {
 height: 50rem;
 width: 50rem;
 top: -25rem;
 right: -25rem;
}
header.masthead .bg-circle-3 {
 height: 20rem;
 width: 20rem;
 bottom: -10rem;
 right: 5%;
}
header.masthead .bg-circle-4 {
 height: 30rem;
 width: 30rem;
 top: -5rem;
 right: 35%;
}
.masthead-heading {
 font-family: Sedan, serif;
}
#footeri {
 font-family: Sedan, serif;
 font-size: 72px;
 font-style: italic;
}
#footerp {
 font-family: Sedan, serif;
 font-size: 72px;
 font-style: italic;
 font-weight: 800;
}
.hrf {
 margin: 1rem 0;
 color: inherit;
 background-color: currentColor;
 opacity: 1;
}
#laatikko1 {
 border-right: 1px solid;
}
#laatikko2 {
 border-left: 1px solid;
}
#laatikko3 {
 border-left: 1px solid;
}
p {
 font-family: monospace;
}
@media (min-width: 992px) {
 header.masthead {
  padding-top: calc(10rem + 55px);
  padding-bottom: 10rem;
 }
 header.masthead .masthead-content .masthead-heading {
  font-size: 6rem;
 }
 header.masthead .masthead-content .masthead-subheading {
  font-size: 3rem;
  font-weight: 700;
 }
}
@media (max-width: 992px) {
 #laatikko1 {
  display: none;
 }
 #laatikko2 {
  display: none;
 }
 #laatikko3 {
  display: none;
 }
}
