body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #78A083;
  }
  
  header {
    text-align: center;
    background-color: #344955;
    border-radius: 15px 40px;
  }
  
  main {
    width: 88%;
    text-align: center;
    margin-left: 18%;
  }
  
  #horizontal {
    background-color: #50727B;
    width: 100%;
    text-align: center;
    border-radius: 25px;

  }

  #vertical {
    background-color: #50727B;
    text-align: center;
    border-radius: 25px;
    padding-top: 10px;
    line-height: 1.8;
    margin-top: 10px;
    float: left;
    height: 100vh; 
    width: 18%;
  }
  
  aside {
    width: 41%;
    box-sizing: border-box;
    float: left;
    background-color: #35374B;
  }
  
  section {
    background-color: #35374B;
    width: 41%;
    float: left;
    
  }
  
  article {
    width: 66%;
    box-sizing: border-box;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  footer {
    background-color: #3db2e4;
    width: 100%;
    clear: both;
  }
  
  #nimi {
    font-size: 12px;
    font-weight: bold;
  }
  
  #kurssi {
    font-size: 12px;
    text-align: right;
    margin-right: 2px;
  }
  