body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #d1e8e2;
}

header {
  text-align: center;
  background-color: darkgray;
  border-radius: 15px 40px;
}

main {
  width: 66%;
  float: right;
}

nav {
  background-color: #a9d6e5;
  width: 100%;
  text-align: center;
  border-radius: 25px;
  padding-top: 10px;
  line-height: 1.8;
}

aside {
  width: 33%;
  box-sizing: border-box;
  float: left;
  background-color: #e2e2e2;
}

section {
  background-color: #a9d6e5;
  width: 33%;
  float: left;
  clear: left;
}

article {
  width: 66%;
  box-sizing: border-box;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #3db2e4;
  width: 100%;
  clear: both;
}

#nimi {
  font-size: 12px;
  font-weight: bold;
}

#kurssi {
  font-size: 12px;
  text-align: right;
  margin-right: 2px;
}

#horizontal {
  background-color: #50727B;
  width: 100%;
  text-align: center;
  border-radius: 25px;
}

a:hover {
  color: red;
}