

body {
  background-color: black;
  color: white;
}

h1 {
  font-size: 20px;
}

ol {
  list-style-type: upper-latin;
}
ul {
  list-style-type: square;
}
 .box {
  border-style: dotted;
  border-width: 2px;
  width: 100px;
  height: 100px;
  color: lightgray;
  font-size: 12px;
}